 *{
     margin: 0;
     padding: 0;
     font-family: Roboto, sans-serif;
     box-sizing: border-box;
         
 }

 body{
     background-color: #ddb;
 } 
  #wrapper{
      max-width: 1000px;
      margin: 0 auto;   
      background-color: white;
  } 
  

  img{
      width: 300px;

  }
  header img{
      width:100%;
      display: block;
  }

  nav{
      overflow: hidden;
   }
  
  nav a{
      display: block;
      width: 25%;
      float: left;
      color: white;
      text-align: center;
      text-decoration: none;
      background-color: darkcyan;
      padding: 15px 30px ;
      font-size: 20px;
      transition:  all 1s ease;
  }
  a.menu:hover{
      background-color: crimson;
      cursor: pointer;
  }
  
  .active{
      background-color: crimson;
  }

  article{
      margin-top: 30px; 
      margin-bottom: 30px;
      padding: 0 20px;
  }
  
  article h1{
      font-size: 30px;
    text-align: center;
    margin: 0 20% 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

img.left{
    float:left;
    margin: 0px 10px 10px;
    width: 25%; 
    border-radius: 50% 30%;

}
article p{
    text-align: justify;
    line-height: 25px;
    font-size: 18px; 
    padding: 15px;
}

iframe{
    width: 100%;
}
footer{
    height: 40px;
    background-color: darkcyan;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 800px){
    nav a {
        width: 50%;
        font-size: 22px;
    }
    article h1{
        font-size: 40px;
    }
}
@media (max-width: 500px){
    nav a{
        width: 100%;
    }
}
